{{ define "main" }}

<!-- JS -->
<!-- prettier-ignore -->
{{ $script := resources.Get "scripts/fonts-converter.ts" | js.Build (dict "targetPath" "fonts-converter.js" "minify" true) }} {{ $secureScript := $script | resources.Fingerprint "sha256" }}
<script
	type="text/javascript"
	src="{{ $secureScript.RelPermalink }}"
	integrity="{{ $secureScript.Data.Integrity }}"
	defer
></script>
<!-- CSS -->
<!-- prettier-ignore -->
{{ $style := resources.Get "styles/google-fonts-converter.scss" | resources.ToCSS (dict "outputStyle" "compressed") }}
{{ $secureStyle := $style | resources.Fingerprint "sha256" }}
<link rel="stylesheet" href="{{ $secureStyle.RelPermalink }}" />

<div class="container" style="padding-top: 175px">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<h1>Convert Google Fonts to Self-Hosted fonts</h1>
			<p>
				Check for Google Fonts on a website and download to easily self-host them.<br />Based on the great
				google-webfonts-helper project.
			</p>
		</div>
	</div>

	<div id="results">
		<div class="row" style="margin-bottom: 180px">
			<div class="col-md-8 offset-md-2">
				<div style="display: flex; align-items: center">
					<form id="search">
						<input
							style="width: 300px; padding: 5px 10px; border: 1px solid #c8c8c8"
							id="website_search"
							placeholder="https://"
						/>
						<button style="margin-left: 10px" id="check" type="submit">check</button>
					</form>
					<!-- prettier-ignore -->
					<img class="spinner" src="/images/svg/spinner.svg" alt="Love" style="margin-left: 15px; height: 22px;" />
				</div>
				<small> examples: https://crashlytics.com, https://travis-ci.org </small>
			</div>
		</div>

		<section class="row" id="font-usage" style="margin-top: 100px">
			<div class="col-md-2">
				<div class="section__title" style="padding: 0; text-align: right">#1</div>
			</div>
			<div class="col-md-8">
				<div class="title">Select detected Google Fonts to convert and download</div>
				<div><br /></div>
				<ul id="font-usage__list" style="list-style: none; padding-left: 0">
					<div style="margin-top: -20px">Search for a website first</div>
				</ul>
			</div>
		</section>

		<section class="row" id="css" style="margin-top: 100px">
			<div class="col-md-2">
				<div class="section__title" style="padding: 0; text-align: right">#2</div>
			</div>
			<div class="col-md-8">
				<div class="title">Copy CSS</div>
				<br />
				<div id="css__list">
					<div style="margin-top: -20px">Search for a website first</div>
				</div>
			</div>
		</section>
	</div>

	<section class="row" id="info" style="margin-top: 180px">
		<div class="col-md-8 offset-md-2">
			<div class="title">Additional Resources</div>
			<ul>
				<li><a href="https://google-webfonts-helper.herokuapp.com/fonts">Google Webfonts Helper</a></li>
				<li>
					<a href="https://wicki.io/posts/2020-11-goodbye-google-fonts/"
						>Time to Say Goodbye to Google Fonts</a
					>
				</li>
			</ul>
		</div>
	</section>
</div>

{{ end }}
