{{ define "main" }}

{{ $scriptSearch := resources.Get "scripts/search.js" | js.Build "search.js" }}
<script type="text/javascript" src="{{ $scriptSearch.RelPermalink }}" defer></script>

<div class="container" style="padding-top: 180px;">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>{{ .Page.Title }}</h1>
      <div style="margin-bottom: 20px;">
        {{ with .Page.PublishDate }}
          <time datetime="{{ . }}">{{ .Format "January 2, 2006" }}</time>
        {{ end }}
      </div>

      {{ .Content }}

      {{ if hasPrefix .RelPermalink "/posts/" }}
      <div style="border-top: 1px solid #e4e4f0; margin-top: 86px; margin-bottom: 50px;"></div>
      {{- partial "profile-cta.html" . -}}
      {{ end }}
    </div>
  </div>
</div>

{{ end }}
