#results {
	transition: opacity 0.2s ease-in-out;

	&.busy {
		opacity: 0.4;
		pointer-events: none;
	}
}

label {
	margin-bottom: 0;

	input {
		margin-right: 8px;
	}
}

.spinner {
	transition: opacity 0.2s ease-in-out;
	opacity: 0;

	.busy & {
		opacity: 1;
	}
}

button {
	padding: 5px 10px;
	border: 1px solid #666666;
	text-align: left;
}
