{{ with .Site.GoogleAnalytics }}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176737760-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());
	const config = {
		client_storage: 'none',
		client_id: Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5),
		allow_ad_personalization_signals: false,
		allow_ad_features: false,
		anonymize_ip: true,
	};
	gtag('config', 'UA-176737760-1', config);
	gtag('config', 'G-2NNLDD2YGP', config);
</script>
{{ end }}
