<head>
  <title>{{ .Title | default .Site.Params.title }}</title>
  <base href="/" />
  <link rel="preload" as="font" type="font/woff2" href="{{ `/images/favicon.png` | absURL }}" crossorigin />  
  {{ $stylesMain := resources.Get "styles/main.scss" | resources.ToCSS | minify }}
  <link rel="stylesheet" href="{{ $stylesMain.Permalink | relURL}}" integrity="{{ $stylesMain.Data.Integrity }}" media="screen" />
  <link rel="canonical" href="{{ .Permalink }}" />
  <link rel="icon" type="image/x-icon" href="{{ `/images/favicon.png` | absURL }}" />
  {{ with .OutputFormats.Get "RSS" }}
  <link rel="alternate" href="{{ .RelPermalink }}" type="application/rss+xml" title="{{ site.Title }}">
  <link rel="feed" href="{{ .RelPermalink }}" type="application/rss+xml" title="{{ site.Title }}">
  {{ end }}
  <meta charset="utf-8" />
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=5" />
  <meta name="keywords" content="{{ .Keywords | default .Site.Params.keywords }}" />

  <meta property="og:site_name" content="Wicki.io" />
  <meta property="og:title" content="{{ .Title | default .Site.Params.title }}" name="title" />
  <meta property="og:description" content="{{ .Description | default .Site.Params.description }}" name="description" />
  <meta property="og:url" content="{{ .Permalink }}" />
  {{- if .Params.Image }}
  <meta property="og:image" content="{{ printf `%s%s` .Permalink .Params.Image }}" />
  {{- else }}
  <meta property="og:image" content="{{ `/images/logo.png` | absURL }}" />
  {{- end }}
  <meta property="og:type" content="{{ if findRE `/posts/.+` .RelPermalink }}article{{else}}website{{ end }}" />

  <meta name="author" content="Simon Wicki" />
  <meta name="twitter:site" content="@zwacky" />
  <meta name="twitter:creator" content="@zwacky" />
  <meta name="twitter:title" content="{{ .Title | default .Site.Title }}"/>
  <meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>

  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="theme-color" content="#fff" />
</head>
