<div class="about__bio">
  <div class="about__bio__profile">
    {{ $image := resources.Get "images/me.jpg" }}
    {{ with $image }}
    <img
      src="{{ (.Resize "350x").RelPermalink }}"
      alt="Simon Wicki"
      class="about__bio__profile--image"
    />
    {{ end }}
  </div>

  <div>
    <div class="title" style="font-size: 1.5rem; margin-top: 0">
      Simon Wicki
    </div>
    <div
      style="
        font-weight: 400;
        color: inherit;
        font-size: inherit;
        margin-top: 0;
        margin-bottom: 1rem;
      "
    >
      Previously Head of Frontend at
      <a href="https://www.justwatch.com" rel="noopener" target="_blank"
        >JustWatch</a
      >. Co-organizer of
      <a
        href="https://www.meetup.com/Ionic-Berlin/"
        rel="noopener"
        target="_blank"
        >@IonicBerlin</a
      >. Creator of
      <a href="https://notyfy.co" rel="noopener" target="_blank"
        >https://notyfy.co</a
      >. I love building things, coffee and books. Berlin.
    </div>
    <div style="font-weight: 400">
      Ionic <span style="margin: 0 6px">·</span> VueJS
      <span style="margin: 0 6px">·</span> Angular
      <span style="margin: 0 6px">·</span>
      Cordova / Capacitor
    </div>
    <div style="margin-top: 6px">
      <a
        href="https://medium.com/@zwacky"
        target="_blank"
        rel="noopener"
        class="no-border"
        style="margin-right: 10px"
      >
        <img
          src="images/svg/medium.svg"
          alt="Medium"
          title="Medium"
          style="height: 18px; opacity: 0.6"
        />
      </a>
      <a
        href="https://twitter.com/zwacky"
        target="_blank"
        rel="noopener"
        class="no-border"
        style="margin-right: 10px"
      >
        <img
          src="images/svg/twitter.svg"
          alt="Twitter"
          title="Twitter"
          style="height: 18px; opacity: 0.6"
        />
      </a>
      <a
        href="https://github.com/zwacky"
        target="_blank"
        rel="noopener"
        class="no-border"
        style="margin-right: 10px"
      >
        <img
          src="images/svg/github.svg"
          alt="GitHub"
          title="GitHub"
          style="height: 18px; opacity: 0.6"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/simon-w-490b8617a"
        target="_blank"
        rel="noopener"
        class="no-border"
        style="margin-right: 10px"
      >
        <img
          src="images/svg/linkedin.svg"
          alt="LinkedIn"
          title="LinkedIn"
          style="height: 18px; opacity: 0.6"
        />
      </a>
      <a
        href="mailto:simon@wicki.io"
        target="_blank"
        rel="noopener"
        class="no-border"
        style="margin-right: 10px"
      >
        <img
          src="images/svg/envelope.svg"
          alt="LinkedIn"
          title="LinkedIn"
          style="height: 18px; opacity: 0.6"
        />
      </a>
    </div>
  </div>
</div>
