<div class="about__bio">
  <div class="about__bio__profile">
    {{ $image := resources.Get "images/me.jpg" }}
    {{ with $image }}
    <img
      src="{{ (.Resize "350x").RelPermalink }}"
      alt="Simon Wicki"
      class="about__bio__profile--image"
    />
    {{ end }}
  </div>

  <div>
    <div
      style="
        font-weight: 400;
        color: inherit;
        font-size: inherit;
        margin-top: 0;
        margin-bottom: 1rem;
      "
    >
      <p>
        <strong>Simon Wicki</strong> is a Freelance Developer in Berlin. Worked on Web and Mobile apps at
				JustWatch. Fluent in Vue, Angular, React and Ionic. Passionate about Frontend, tech, web perf &
				non-fiction books.
      </p>
      <p>
        <a
          href="https://twitter.com/zwacky"
          onclick="gtag('event', 'bottom_cta_clickout', { event_category: 'bottom_cta', event_label: '{{ .RelPermalink }}' })"
          target="_blank"
          style="
            border-radius: 4px;
            padding: 4px 13px 4px 13px;
            background-color: #1b95e0;
            color: white;
            display: inline-block;
            border: 0;
            opacity: 1;
          "
        >
          <img
            src="images/svg/twitter.svg"
            alt="Twitter"
            title="Twitter"
            style="
              filter: brightness(10);
              margin-right: 4px;
              position: relative;
              bottom: 2px;
            "
          />
          Follow @zwacky
        </a>
      </p>
    </div>
  </div>
</div>
